In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRTK2NvcndgPX41Czu6Ft2Ho_nE-z50BgTqdzwFW0rsJ2nvyNLe2DoIg1COzUbgw80oaRBjfy5-WtFk/pubhtml"

In [3]:
r = requests.get(url)

In [4]:
if r.status_code==200:
    s = BeautifulSoup(r.content,'html.parser')
    data = s.find('table')
    df = pd.read_html(str(data))[0]
    df.to_csv("Regression_dataset.csv")
else:
    print("Try again")

In [5]:
df.head()

   Unnamed: 0 Unnamed: 1   Unnamed: 2
0           1          x            y
1           2         24  21.54945196
2           3         50  47.46446305
3           4         15  17.21865634
4           5         38  36.58639803

In [6]:
df = df.drop(['Unnamed: 0'],axis=1)

In [7]:
df.head()

  Unnamed: 1   Unnamed: 2
0          x            y
1         24  21.54945196
2         50  47.46446305
3         15  17.21865634
4         38  36.58639803

In [8]:
col = ['x','y']
df.columns = col

In [9]:
df = df.drop(0)

In [10]:
df.head()

    x            y
1  24  21.54945196
2  50  47.46446305
3  15  17.21865634
4  38  36.58639803
5  87  87.28898389

In [11]:
df.shape

(700, 2)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 1 to 700
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       700 non-null    object
 1   y       699 non-null    object
dtypes: object(2)
memory usage: 11.1+ KB

In [13]:
df['x'] = df['x'].astype('float')
df['y'] = df['y'].astype('float')

In [14]:
df.isnull().sum()

x    0
y    1
dtype: int64

In [15]:
df = df.dropna()

In [16]:
df.shape

(699, 2)

In [17]:
df.duplicated().sum()

0

In [18]:
df.describe()

                x           y
count  699.000000  699.000000
mean    50.014306   49.939869
std     28.954560   29.109217
min      0.000000   -3.839981
25%     25.000000   24.929968
50%     49.000000   48.973020
75%     75.000000   74.929911
max    100.000000  108.871618

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train,X_test,y_train,y_test = train_test_split(df['x'],df['y'],test_size=0.25,random_state = 2)

In [21]:
import numpy as np

In [22]:
X_train = np.array(X_train)

In [23]:
X_train = X_train.reshape(-1,1)

In [24]:
X_test = np.array(X_test).reshape(-1,1)

In [25]:
y_train = np.array(y_train).reshape(-1,1)

In [26]:
y_test = np.array(y_test).reshape(-1,1)

In [27]:
from sklearn.linear_model import LinearRegression

In [28]:
lr = LinearRegression()

In [29]:
lr.fit(X_train,y_train)

LinearRegression()

In [30]:
pr = lr.predict(X_test)

In [31]:
lr.score(X_test,y_test)

0.9921938911194431

In [32]:
url_test = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRyvZ7lknwiSghK9aen1SaTEYoN3JS40rrGLpcyrsVZy1tB2T4gn6Y3-cdzPUFCPMmmqREWefW3kl4_/pubhtml"

In [33]:
r_test = requests.get(url_test)

In [34]:
if r.status_code==200:
    s_test = BeautifulSoup(r_test.content,'html.parser')
    data_test = s_test.find('table')
    df_test = pd.read_html(str(data_test))[0]
    df.to_csv("Regression_dataset_test.csv")
else:
    print("Try again")

In [35]:
df_test.head()

   Unnamed: 0 Unnamed: 1   Unnamed: 2
0           1          x            y
1           2         77  79.77515201
2           3         21  23.17727887
3           4         22  25.60926156
4           5         20  17.85738813

In [36]:
df_test = df_test.drop(['Unnamed: 0'],axis=1)

In [37]:
df_test.columns = col

In [38]:
df_test = df_test.drop(0)

In [39]:
df_test.head()

    x            y
1  77  79.77515201
2  21  23.17727887
3  22  25.60926156
4  20  17.85738813
5  36  41.84986439

In [40]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 1 to 300
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       300 non-null    object
 1   y       300 non-null    object
dtypes: object(2)
memory usage: 4.8+ KB

In [41]:
df_test['x'] = df_test['x'].astype('float')
df_test['y'] = df_test['y'].astype('float')

In [42]:
df.duplicated().sum()

0

In [43]:
xtest = df_test['x'].values

In [44]:
ytest = df_test['y'].values

In [45]:
xtest = xtest.reshape(-1,1)

In [46]:
ytest = ytest.reshape(-1,1)

In [47]:
lr_pred = lr.predict(xtest)

In [48]:
lr.score(xtest,ytest)

0.9887988369374909

In [49]:
from sklearn.metrics import r2_score

In [50]:
r2_score(ytest,lr_pred)

0.9887988369374909